# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/visualstudiocode

system-config.js*
*.js
app/**/*.map
app/**/**/*.js
*.map
*.log
node_modules
jspm_packages
bower_components
aot/*
dist/*
yarn.lock

